@charset "UTF-8";

@import './abstracts/variables';
@import './base/fonts';

h1 {
  position: relative;
  background-color: red !important;
  font-family: 'Calibri';

  &::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 400px;
    background-image: url('#{$pictures-path}/woocommerce-placeholder.webp');
    background-position: center;
  }
}
