@use '/src/styles/abstracts/variables' as variables;

@font-face {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: normal;
	src: url('#{variables.$fonts-path}/Calibri/Calibri.eot');
	src:
		url('#{variables.$fonts-path}/Calibri/Calibri.eot?#iefix') format('embedded-opentype'),
		url('#{variables.$fonts-path}/Calibri/Calibri.woff2') format('woff2'),
		url('#{variables.$fonts-path}/Calibri/Calibri.woff') format('woff'),
		url('#{variables.$fonts-path}/Calibri/Calibri.ttf') format('truetype'),
		url('#{variables.$fonts-path}/Calibri/Calibri.svg#Calibri') format('svg');
	font-display: swap;
}

@font-face {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
	src: url('#{variables.$fonts-path}/Calibri/Calibri-Light.eot');
	src:
		url('#{variables.$fonts-path}/Calibri/Calibri-Light.eot?#iefix') format('embedded-opentype'),
		url('#{variables.$fonts-path}/Calibri/Calibri-Light.woff2') format('woff2'),
		url('#{variables.$fonts-path}/Calibri/Calibri-Light.woff') format('woff'),
		url('#{variables.$fonts-path}/Calibri/Calibri-Light.ttf') format('truetype'),
		url('#{variables.$fonts-path}/Calibri/Calibri-Light.svg#Calibri-Light') format('svg');
	font-display: swap;
}

@font-face {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: bold;
	src: url('#{variables.$fonts-path}/Calibri/Calibri-Bold.eot');
	src:
		url('#{variables.$fonts-path}/Calibri/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{variables.$fonts-path}/Calibri/Calibri-Bold.woff2') format('woff2'),
		url('#{variables.$fonts-path}/Calibri/Calibri-Bold.woff') format('woff'),
		url('#{variables.$fonts-path}/Calibri/Calibri-Bold.ttf') format('truetype'),
		url('#{variables.$fonts-path}/Calibri/Calibri-Bold.svg#Calibri-Bold') format('svg');
	font-display: swap;
}
